<% if bookings.any? %>
  <% bookings.each do |booking| %>
    <div class="booking">
      <div class="booking-weekday">
        <h6><%= booking.availability.start_time.strftime('%a').upcase %></h6>
      </div>
      <div class="booking-content">
        <h6>
          <%= booking.availability.start_time.strftime('%d.%m.%y | %H:%M') %> -
          <%= booking.availability.end_time.strftime('%H:%M') %>
        </h6>
      </div>
      <div class="booking-actions">
        <% if current_user.is_role?("sitter") %>
          <%= link_to 'ðŸ‘¤', user_path(booking.parent), id: "profile", class: "emoji-link" %>
        <% elsif current_user.is_role?("parent") %>
          <%= link_to 'ðŸ‘¤', user_path(booking.sitter), id: "profile", class: "emoji-link" %>
        <% else %>
          <%= link_to 'ðŸ‘¤ Parent', user_path(booking.parent), id: "profile", class: "emoji-link" %>
          <%= link_to 'ðŸ‘¤ Sitter', user_path(booking.sitter), id: "profile", class: "emoji-link" %>
        <% end %>
        <% if booking.status == 'pending' && current_user.is_role?("sitter") %>
          <%= link_to 'ðŸ‘ï¸', confirm_booking_path(booking), id: "confirm", class: "emoji-link" %>
          <%= link_to 'ï¸ðŸ‘Ž', decline_booking_path(booking), id: "decline", class: "emoji-link" %>
        <% elsif booking.status == 'pending' && current_user.is_role?("parent") %>
          <%= link_to 'â›”', decline_booking_path(booking), id: "decline", class: "emoji-link" %>
        <% elsif booking.status == 'confirmed' %>
          <%= link_to 'â›”', decline_booking_path(booking), id: "decline", class: "emoji-link" %>
        <% end %>
      </div>
    </div>
  <% end %>
<% else %>
  <p>No <%= status %> bookings.</p>
<% end %>
