<div class="container">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>First name:</strong>
    <%= @user.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= @user.last_name %>
  </p>

  <p>
    <strong>Date of birth:</strong>
    <%= @user.dob %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= @user.phone %>
  </p>

  <p>
    <strong>Bio:</strong>
    <%= @user.bio %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= @user.address %>
  </p>

  <%= link_to 'Edit', edit_user_path(@user), class: "btn btn-red" %>
  <%= link_to 'Back', root_path, class: "btn btn-red" %>
</div>
