<div class="container">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>First name:</strong>
    <%= @user.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= @user.last_name %>
  </p>

  <p>
    <strong>Date of birth:</strong>
    <%= @user.dob %>
  </p>

  <% if @access_to_see_all_details == true %>
    <p>
      <strong>Phone:</strong>
      <%= @user.phone %>
    </p>
  <% end %>

  <p>
    <strong>Bio:</strong>
    <%= @user.bio %>
  </p>

  <% if @access_to_see_all_details == true %>
    <p>
      <strong>Address:</strong>
      <%= @user.address %>
    </p>
  <% end %>

  <% if current_user == @user %>
    <%= link_to 'Edit', edit_user_path(@user), class: "btn btn-red" %>
  <% end %>

  <% if current_user.is_role?('parent') %>
    <%= link_to 'Back', sitters_path, class: "btn btn-red" %>
  <% else %>
    <%= link_to 'Back', bookings_path, class: "btn btn-red" %>
  <% end %>
</div>
