<div class="container">
  <h1>Available Sitters</h1>
  <%= form_tag sitters_path,
               method: :get,
               wrapper: :inline_form,
               html: { class: "form-inline" },
               wrapper_mappings: { boolean: :inline_boolean} do
  %>
    <div class="booking-form-box">
      <div class="booking-form-inputs">
        <div class="booking-form-date">
          <%= date_field_tag :date,
                            @start_time_query.present? ? @start_time_query.to_date : "#{Date.tomorrow}",
                            class: "form-control"
          %>
        </div>
        <div class="booking-form-time">
          <%= time_field_tag :start_time,
                           @start_time_query.present? ? @start_time_query.split(" ")[1] : "10:00",
                           class: "form-control"
          %>
        </div>
        <div class="booking-form-time">
          <%= time_field_tag :end_time,
                           @end_time_query.present? ? @end_time_query.split(" ")[1] : "16:00",
                           class: "form-control"
          %>
        </div>
      </div>
      <div class="booking-form-submit">
        <%= submit_tag "Search", class: "btn btn-red" %>
      </div>
    </div>
  <% end %>
  <h3>Results</h3>
  <div class="sitters-list-wrapper">
    <% if @sitters.any? %>
      <% @sitters.each do |availability| %>
        <div class="sitter">
          <div class="sitter-content">
            <%= link_to availability.sitter.full_name,
                        user_path(availability.sitter),
                        class: "link-red"
            %>
            <%#= link_to sitter_availability_hash[:sitter].full_name,
                        user_path(sitter_availability_hash[:sitter]),
                        class: "link-red"
            %>
          </div>
          <div class="sitter-actions">
            <li class="d-none">
              <%= @start_time_query %> -
              <%= @end_time_query %>
            </li>
            <%= link_to '🗓', "#", class: "emoji-link", data: {
                toggle: 'modal',
                target: '#myModal',
                availability: availability.id,
                sitter: availability.sitter.id
            } %>
          </div>
        </div>
      <% end %>
      <div class="pagination row">
        <% if @page_count > 1 %>
          <% if @page > 0 && @page == @page_count %>
            <div class="col-2 offset-4 pagination-link">
              <%= link_to "Previous Page", availabilities_path(page: @page - 1), class: "btn btn-red btn-fullsize" %>
            </div>
            <div class="col-2 pagination-link">
              <%= link_to "Next Page", availabilities_path(page: @page + 1), class: "btn btn-red btn-fullsize disabled" %>
            </div>
          <% elsif @page == 0 && @page < @page_count %>
            <div class="col-2 offset-4 pagination-link">
              <%= link_to "Previous Page", availabilities_path(page: @page - 1), class: "btn btn-red btn-fullsize disabled" %>
            </div>
            <div class="col-2 pagination-link">
              <%= link_to "Next Page", availabilities_path(page: @page + 1), class: "btn btn-red btn-fullsize" %>
            </div>
          <% else %>
            <div class="col-2 offset-4 pagination-link">
              <%= link_to "Previous Page", availabilities_path(page: @page - 1), class: "btn btn-red btn-fullsize" %>
            </div>
            <div class="col-2 pagination-link">
              <%= link_to "Next Page", availabilities_path(page: @page + 1), class: "btn btn-red btn-fullsize" %>
            </div>
          <% end %>
        <% end %>
      </div>
    <% else %>
      <p>No available sitters found, please try a different time.</p>
    <% end %>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="myModalLongTitle">Confirm Booking</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <%= link_to 'Confirm Booking',
                    bookings_path(booking: {availability: params[:availability], sitter: params[:sitter]}, start_time: @start_time_query, end_time: @end_time_query),
                    method: :post,
                    class: 'btn btn-red',
                    type: 'button',
                    id: 'submit-booking'
        %>
      </div>
    </div>
  </div>
</div>
