<div class="navbar navbar-expand-lg navbar-sfk">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "hand-print-red.png" %>
  <% end %>

  <h4>STUDENTS FOR KIDS</h4>

  <ul class="navbar-nav">
    <% if current_user %>
      <li class="nav-item">
        <%= link_to "COVID-19", corona_path, class: "nav-link" %>
      </li>
      <% if current_user.is_role?("parent") %>
        <li class="nav-item dropdown">
          <%= link_to "Find A Babysitter",
                      '',
                      class: "nav-link dropdown-toggle",
                      id: 'dropdownMenuButton',
                      data: { toggle: 'dropdown' },
                      aria: { haspopup: 'true', expanded: 'false' }
          %>
          <%= form_tag sitters_path,
                       method: :get,
                       class: 'dropdown-menu p-4',
                       'aria-labelledby': 'dropdownMenuButton' do
          %>
            <%= date_field_tag :date,
                               "#{Date.tomorrow}",
                               class: "form-control"
            %>
            <%= time_field_tag :start_time,
                               "10:00",
                               class: "form-control"
            %>
            <%= time_field_tag :end_time,
                               "16:00",
                               class: "form-control"
            %>
            <%= submit_tag "Search", class: "btn btn-red" %>
          <% end %>
        </li>
      <% elsif current_user.is_role?("sitter") %>
        <li class="nav-item">
          <%= link_to "Availabilities", availabilities_path, class: "nav-link" %>
        </li>
      <% end %>
      <li class="nav-item">
        <%= link_to "Bookings", bookings_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Account", user_path(current_user), class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "btn btn-white" %>
      </li>
    <% else %>
      <li class="nav-item">
        <%= link_to "Login", new_user_session_path, class: "btn btn-white" %>
      </li>
    <% end %>
  </ul>
</div>
