<%= simple_form_for @availability do |form| %>
  <% if availability.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(availability.errors.count, "error") %> prohibited this availability from being saved:</h2>

      <ul>
        <% availability.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :start_time %>
    <%= form.datetime_select :start_time,
                             :minute_step => 15,
                             :selected => DateTime.current.beginning_of_hour.advance(hours: 1) %>
  </div>

  <div class="field">
    <%= form.label :end_time %>
    <%= form.datetime_select :end_time,
                             :minute_step => 15,
                             :selected => DateTime.current.beginning_of_hour.advance(hours: 4) %>
  </div>

  <div class="actions">
    <%= form.submit id:'submit_button' %>
  </div>
<% end %>
