<%= render 'form', availability: @availability %>
<ul>
  <% @availabilities.each do |availability| %>
    <li>
      <%= availability.start_time.strftime('%a, %d.%m.%y, %H:%M') %> -
      <%= availability.end_time.strftime('%a, %d.%m.%y, %H:%M') %>
      <td><%= link_to 'Edit', edit_availability_path(availability) %></td>
      <td><%= link_to 'Remove', availability, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </li>
  <% end %>
</ul>
